* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box
}

@import "@scss";

.root_page {
  width: 100%;
  font-size: $fs_medium;
  .before_nav {
    background-color: $cl_body_main;
    display: flex;
    justify-content: center;
    height: $beforeNavH;
    font-size: 1em;
    position: sticky;
    top: 0;
    z-index: $zi_max;
    .before_nav_content {
      width: $maxW;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1em;
      .brand_name {
        text-transform: uppercase;
        font-size: 1em;
        font-family: $f_brand;
      }
      .feature {
        display: flex;
        width: 30%;
        justify-content: space-between;
        font-size: 1em;
        .feature_item {
          font-size: 0.65em;
          border-right: 2px solid black;
          width: 100%;
          max-width: 120px;
          margin-right: 10px;
          text-align: center;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
          }
          &:last-child {
            border: unset;
            text-align: right;
            max-width: 70px;
          }
        }
      }
    }
  }
  nav {
    width: 100%;
    height: $navH;
    font-size: 1em;
    background-color: $cl_nav_main;
    display: flex;
    justify-content: center;
    position: sticky;
    top: $beforeNavH;
    z-index: $zi_max;
    .nav_content {
      width: 100%;
      max-width: $maxW;
      height: 100%;
      font-size: 1em;
      display: flex;
      justify-content: space-between;
      .left_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1em;
        height: 100%;
        width: 10%;
        .logo {
          width: 83px;
          height: 100%;
        }
      }
      .middle_content {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
        .item {
          font-size: 0.8em;
          font-weight: 900;
          cursor: pointer;
          margin-right: 20px;
          &:last-child {
            margin: unset;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .right_content {
        width: 23%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .body_container {
    width: 100%;
    height: 100vh;
    background-color: $cl_body_main;
    display: flex;
    justify-content: center;
    .body_container_center {
      width: $maxW;
      height: 100%;
    }
  }
}

  
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.user-card {
  width: 250px; /* Điều chỉnh kích thước theo mong muốn */
  height: auto;
  padding-bottom: 2rem;
  margin: 10px;
  /* ...other card styles... */
}


.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bg-image {
  position: relative;
}

.fixed-size-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

  
.container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap when not enough horizontal space */
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items to the top vertically */
}

.user-card {
  width: 200px;
  height: auto;
  padding-bottom: 2rem;
  margin: 10px;
  /* ...other card styles... */
}


.user-card {
  width: 300px;
  height: auto;
  padding-bottom: 2rem;
  flex-direction: column;
  display: inline-block;
  margin: 10px;
}

.card {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bg-image {
  position: relative;
}

.fixed-size-image {
  width: 100%;  /* Đảm bảo ảnh chiếm 100% chiều ngang của phần tử */
  height: 200px; /* Xác định kích thước chiều cao tùy ý */
  object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
